---
import Layout from "../layouts/Layout.astro";
---

<script>
  document.addEventListener("astro:page-load", () => {
    document.querySelector<HTMLElement>(".background-blur").style.opacity = "1";
    document.querySelector<HTMLElement>(".main-content").style.opacity = "1";
  });
</script>

<Layout>
  <main>
    <div class="background-blur"></div>
    <div class="main-content">
      <section>
        <div class="title-wrapper">
          <h1><span class="title">Hello, I'm</span><br />Dragan Aleksic</h1>
          <h2>fullstack javascript developer</h2>
        </div>
        <div class="about">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
            natus libero eaque numquam temporibus! Est, et eveniet dolorem atque
          </p>
          <br />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
            natus libero eaque numquam temporibus! Est, et eveniet dolorem atque
          </p>
        </div>
        <div class="navigation">
          <nav>
            <ul>
              <li><a href="">Skills</a></li>
              <li><a href="">Projects</a></li>
            </ul>
          </nav>
        </div>
        <div class="links-wrapper">
          <span>LinkedIn</span>
          <span>Github</span>
        </div>
      </section>
      <div class="scrollable-content">
        <h1>Skills</h1>
        <h1>Skills</h1>
        <h1>Skills</h1>
        <h1>Skills</h1>
      </div>
    </div>
  </main>
</Layout>

<style>
  p {
    width: 60ch;
    font-size: 1.25rem;
    color: black;
    font-weight: 500;
  }

  h1 {
    font-size: 5rem;
    color: #213547;
    line-height: 1;
  }

  h2 {
    font-size: 2.5rem;
    padding-top: 8px;
    font-weight: 500;
  }

  .background-blur {
    position: absolute;
    inset: 0 0 0 0;
    backdrop-filter: blur(2px) saturate(160%);
    -webkit-backdrop-filter: blur(2px) saturate(160%);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 200ms ease-in 1s;
  }

  .main-content {
    position: relative;
    z-index: 9999;
    overflow-y: scroll;
    height: 100%;
    opacity: 0;
    transition: opacity 200ms ease-in;
  }

  .main-content::-webkit-scrollbar {
    width: 0px;
    transition: width 2s ease-in;
  }

  .main-content::-webkit-scrollbar-track-piece {
    background: transparent;
  }

  .main-content::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
  }

  .title {
    background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .title-wrapper {
    padding: 2rem 0;
  }
</style>
