---
import Layout from "../layouts/Layout.astro";
---

<script>
  document.addEventListener("astro:page-load", () => {
    document.querySelector<HTMLElement>(".background-blur").style.opacity = "1";
    document.querySelector<HTMLElement>(".main-content").style.opacity = "1";
  });
  let content = document.querySelector<HTMLElement>(".scrollable-content");
  document.querySelector(".navigation").addEventListener("mousedown", () => {
    content.style.pointerEvents = "none";
  });
</script>

<Layout>
  <main>
    <div class="background-blur"></div>
    <div class="main-content">
      <div class="static-content">
        <section>
          <div class="title-wrapper">
            <h1><span class="title">Hello, I'm</span><br />Dragan Aleksic</h1>
            <h2>fullstack javascript developer</h2>
          </div>
          <div class="about">
            <p>
              I'm a fullstack javascript developer with three years of
              experience. I love building UIs and possess an exceptional drive
              for excellence.
            </p>
            <p>
              My strong sense of discipline and diligence allows me to deliver
              high-quality work consistently. I am constantly open to feedback
              and collaboration, valuing the growth and success of the team as a
              whole.
            </p>
          </div>
          <div class="navigation">
            <nav>
              <ul>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projects">Projects</a></li>
              </ul>
            </nav>
          </div>
          <div class="links-wrapper">
            <a
              href="https://www.linkedin.com/in/dragan-aleksi%C4%87/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="link">
                <svg
                  viewBox="0 0 24 24"
                  width="24"
                  height="24"
                  aria-hidden="true"
                >
                  <path
                    transform="scale(1.5)"
                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"
                  ></path>
                </svg>
                <span> LinkedIn</span>
                <svg
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 12 12"
                  aria-hidden="true"
                  width="16"
                  height="16"
                  ><path
                    d="M10.976 1.193A.314.314 0 0010.687 1H6.312a.313.313 0 000 .625h3.62L5.467 6.091a.313.313 0 00.443.442l4.466-4.466v3.62a.313.313 0 00.625 0V1.313a.328.328 0 00-.024-.119z"
                  ></path><path
                    d="M3.5 1v.625H2.25a.625.625 0 00-.625.625v7.5c0 .345.28.625.625.625h7.5c.345 0 .625-.28.625-.625V8.5H11v1.875c0 .345-.28.625-.625.625h-8.75A.625.625 0 011 10.375v-8.75C1 1.28 1.28 1 1.625 1H3.5z"
                  ></path></svg
                >
              </div>
            </a>
            <a
              href="https://github.com/DraganAleksic99"
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="link">
                <svg
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                  width="24"
                  height="24"
                  ><path
                    d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
                  ></path></svg
                >
                <span>Github</span>
                <svg
                  fill="none"
                  stroke="black"
                  viewBox="0 0 12 12"
                  aria-hidden="true"
                  width="16"
                  height="16"
                  ><path
                    d="M10.976 1.193A.314.314 0 0010.687 1H6.312a.313.313 0 000 .625h3.62L5.467 6.091a.313.313 0 00.443.442l4.466-4.466v3.62a.313.313 0 00.625 0V1.313a.328.328 0 00-.024-.119z"
                  ></path><path
                    d="M3.5 1v.625H2.25a.625.625 0 00-.625.625v7.5c0 .345.28.625.625.625h7.5c.345 0 .625-.28.625-.625V8.5H11v1.875c0 .345-.28.625-.625.625h-8.75A.625.625 0 011 10.375v-8.75C1 1.28 1.28 1 1.625 1H3.5z"
                  ></path></svg
                >
              </div>
            </a>
          </div>
        </section>
      </div>
      <div class="scrollable-content">
        <div id="skills">
          <h2>my skills</h2>
          <div class="skills-wrapper">
            <div>Javascript</div>
            <div>Typescript</div>
            <div>React</div>
            <div>Next.js</div>
            <div>Redux</div>
            <div>Node.js</div>
            <div>Express</div>
            <div>MongoDB</div>
          </div>
        </div>
        <div id="projects">
          <h2>my projects</h2>
          <div class="projects-wrapper">
            <div class="project">
              <div class="project-language">Typescript</div>
              <h3>Social Media App</h3>
              <p>
                In Social Media App, without signing in, you can only see a list
                of all users. Sign in to see user's profile and posts, who they
                follow and who follows them. You can create posts, comment and
                like posts, and follow other users.
              </p>
              <div class="project-buttons">
                <a
                  href="https://master--my-social-media-app1.netlify.app/"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><button type="button">Live link</button></a
                >
                <a
                  href="https://github.com/DraganAleksic99/eStore"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><button type="button">Github</button></a
                >
              </div>
            </div>
            <div class="project">
              <div class="project-language">Typescript</div>
              <h3>eStore</h3>
              <p>
                eStore is an online store that has a product catalog that
                customers can browse by category and page, a shopping cart where
                users can add and remove products, and a checkout where
                customers can enter their details and place their orders.
              </p>
              <div class="project-buttons">
                <a
                  href="https://my-estore-website.netlify.app/"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><button type="button">Live link</button></a
                >
                <a
                  href="https://github.com/DraganAleksic99/eStore"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><button type="button">Github</button></a
                >
              </div>
            </div>
            <div class="project">
              <div class="project-language">Typescript</div>
              <h3>Trello Clone</h3>
              <p>
                In Trello-clone, you can create tasks and organize them into
                lists. You can drag and drop both cards and lists to reorder
                them.
              </p>
              <div class="project-buttons">
                <a
                  href="https://my-trello-clone-website.netlify.app/"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><button type="button">Live link</button></a
                >
                <a
                  href="https://github.com/DraganAleksic99/Trello-Clone"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><button type="button">Github</button></a
                >
              </div>
            </div>
            <div class="project">
              <div class="project-language">Typescript</div>
              <h3>Redux Paint</h3>
              <p>
                Redux-paint is a drawing board. You can pick different colors
                and draw lines. If you don't like the results you can “undo” and
                "redo" your actions. When you are satisfied with the results you
                can export the image as a .png file.
              </p>
              <div class="project-buttons">
                <a
                  href="https://my-redux-paint-website.netlify.app/"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><button type="button">Live link</button></a
                >
                <a
                  href="https://github.com/DraganAleksic99/Redux-Paint"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><button type="button">Github</button></a
                >
              </div>
            </div>
            <div class="project">
              <div class="project-language">Typescript</div>
              <h3>Ensome</h3>
              <p>
                Ensome is a clean and modern website targeting a wide variety of
                use cases for cloud technologies, IT businesses, startups,
                machine learning, data science businesses, etc.
              </p>
              <div class="project-buttons">
                <a
                  href="https://draganaleksic99.github.io/"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><button type="button">Live link</button></a
                >
                <a
                  href="https://github.com/DraganAleksic99/DraganAleksic99.github.io"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><button type="button">Github</button></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  .background-blur {
    position: absolute;
    inset: 0 0 0 0;
    backdrop-filter: blur(2px) saturate(160%);
    -webkit-backdrop-filter: blur(2px) saturate(160%);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 200ms ease-in 1s;
  }

  .main-content {
    position: relative;
    z-index: 5;
    overflow-y: scroll;
    height: 100%;
    opacity: 0;
    transition: opacity 200ms ease-in;
  }

  .main-content::-webkit-scrollbar {
    width: 0px;
    transition: width 2s ease-in;
  }

  .main-content::-webkit-scrollbar-track-piece {
    background: transparent;
  }

  .main-content::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
  }

  .title {
    background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .title-wrapper {
    padding-bottom: 2rem 0;
  }

  .title-wrapper h1 {
    line-height: 1;
    font-size: 2.5rem;
    color: #213547;
  }

  .title-wrapper h2 {
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 4px;
    padding-bottom: 1rem;
  }

  #skills {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  #skills h2 {
    font-weight: 700;
    color: #213547;
  }

  .skills-wrapper {
    display: flex;
    font-weight: 500;
    gap: 12px;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-left: 2px;
    padding-right: 2px;
  }

  .skills-wrapper div {
    background-color: #42d392;
    padding: 8px 1.5rem;
    border-radius: 8px;
    flex: 1 1 auto;
    text-align: center;
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.4);
  }

  #projects h2 {
    font-weight: 700;
    color: #213547;
  }

  .links-wrapper,
  .navigation {
    padding-top: 1rem;
  }

  .navigation {
    padding-bottom: 8px;
  }

  .scrollable-content h2 {
    font-weight: 600;
  }

  .about p {
    margin-bottom: 0.5rem;
    color: black;
  }

  .projects-wrapper {
    padding-top: 1rem;
  }

  .projects-wrapper .project {
    background-color: #647eff;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
  }

  .project-buttons {
    margin-top: 8px;
    pointer-events: auto;
  }

  .project-buttons button {
    border-radius: 8px;
    cursor: pointer;
    padding: 4px 8px;
    margin-right: 8px;
  }

  .project-buttons button:hover {
    transform: scale(1.05);
  }

  .project-language {
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  .links-wrapper .link {
    display: inline-flex;
    align-items: center;
    margin-right: 1rem;
  }

  .links-wrapper .link svg,
  .links-wrapper .link span {
    margin-right: 8px;
  }

  @media screen and (min-width: 768px) {
    .title-wrapper h1 {
      font-size: 3.5rem;
    }

    .title-wrapper h2 {
      font-size: 2rem;
      padding-top: 4px;
      padding-bottom: 1rem;
    }

    .about {
      font-size: 1.25rem;
    }

    .scrollable-content h2 {
      font-size: 2rem;
    }

    .skills-wrapper div {
      font-size: 1.25rem;
    }
    .projects-wrapper .project {
      padding: 1.5rem;
    }
    .project p {
      font-size: 1.25rem;
    }

    .project h3 {
      font-size: 1.5rem;
    }
    .links-wrapper .link {
      font-size: 1.25rem;
    }
    .navigation nav {
      font-size: 1.25rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .static-content {
      position: fixed;
      width: 48%;
      padding-right: 3.5rem;
      z-index: 10;
      pointer-events: none;
    }
    .static-content .navigation nav {
      pointer-events: all;
      width: min-content;
    }
    .links-wrapper {
      pointer-events: all;
      width: fit-content;
    }
    .main-content {
      display: flex;
    }
    .scrollable-content {
      width: 100%;
      height: 1300px;
      position: relative;
      margin-top: 2rem;
      padding-left: 50%;
      padding-right: 5px;
    }

    .scrollable-content h2 {
      font-size: 2.5rem;
    }

    .title-wrapper h1 {
      font-size: 4rem;
    }

    .title-wrapper h2 {
      font-size: 2.5rem;
      line-height: 1;
      padding-top: 12px;
      padding-bottom: 2rem;
    }

    .about p {
      max-width: 60ch;
      font-size: 1.25rem;
      font-weight: 500;
    }
  }

  @media screen and (min-width: 1280px) {
    .static-content {
      padding-right: 3.5rem;
    }
    .title-wrapper h1 {
      font-size: 5rem;
    }
    .title-wrapper h2 {
      padding-top: 1rem;
    }
    .about p {
      max-width: 55ch;
    }
  }
</style>
